# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\subar\Documents\GradleDemo\gradle-build-tool-fundamentals\demos\gradle-build-tool-fundamentals-m2\Gradle\groovy\FirstJava\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
